######################################
### Caddyfile for reverse proxying ###
######################################
{
	debug
	admin 0.0.0.0:{$CADDY_PORT:2019}

	crowdsec {
		api_url http://localhost:8080
		api_key env.CROWDSEC_API_KEY
		ticker_interval 15s
		appsec_url http://localhost:7422
		#disable_streaming
		#enable_hard_fails
	}

	# layer4 {
	#       localhost:4444 {
	#               @crowdsec crowdsec	#               route @crowdsec {
	#                       proxy {
	#                               upstream localhost:6443
	#                       }
	#               }
	#       }
	# }
}

# TODO: Verify default ports

### Hardware ##########

# Internet gateway
gateway.homelab.local {
	route {
		crowdsec reverse_proxy {$GATEWAY_IP}
	}
}

# Wired router
router.homelab.local {
	route {
		crowdsec reverse_proxy {$ROUTER_IP}
	}
}

# Access point (Wi-Fi router)
wireless.homelab.local {
	route {
		crowdsec reverse_proxy {$WIRELESS_IP}
	}
}

# Server rack managed switch
switch.homelab.local {
	route {
		crowdsec
		reverse_proxy {$SWITCH_IP}
	}
}

### Servers ##########

# Unraid NAS
unraid.homelab.local {
	route {
		crowdsec
		reverse_proxy {$UNRAID_IP}:{$UNRAID_PORT:443}

		# Alternatively: uncomment to use Unraid's built-in reverse proxy:
		# reverse_proxy {$UNRAID_HOSTNAME}
	}
}

# Proxmox VE
pve.homelab.local {
	route {
		crowdsec
		reverse_proxy {$PVE_IP}:{$PVE_PORT:8006}
	}
}

# Netdata (Proxmox VE)
netdata.homelab.local {
	route {
		crowdsec
		reverse_proxy {$NETDATA_IP}:{$NETDATA_PORT:19999}
	}
}

### PVE LXCs ##########

# WireGuard Dashboard
wireguard.homelab.local {
	route {
		crowdsec
		reverse_proxy {$WIREGUARD_IP}:{$WIREGUARD_PORT:10086}
	}
}

# WireGuard VPN
vpn.homelab.local {$WIREGUARD_FQDN:vpn.homelab.local} {
	route {
		crowdsec
		reverse_proxy {$WIREGUARD_IP}:{$WIREGUARD_PORT:51820}
	}
}

# Omada Controller
omada.homelab.local {
	route {
		crowdsec
		reverse_proxy {$OMADA_IP}:{$OMADA_PORT:8043} {
			transport http {
				tls_insecure_skip_verify
			}
		}
	}
}

# Unbound DNS
unbound.homelab.local {
	route {
		crowdsec
		reverse_proxy {$UNBOUND_IP}:{$UNBOUND_PORT}
	}
}

# PiHole
pihole.homelab.local {
	route {
		crowdsec
		redir / /admin
		reverse_proxy https://{$PIHOLE_IP}:{$PIHOLE_PORT:443} {
			transport http {
				tls_insecure_skip_verify
			}
		}
	}
}

# Caddy
caddy.homelab.local {
	route {
		crowdsec
		reverse_proxy localhost:{$CADDY_PORT:2019}
		basic_auth {
			{$CADDY_API_USERNAME} {$CADDY_API_HASHED_PASSWORD}
		}
	}
}

# SABnzbd
sabnzbd.homelab.local {
	route {
		crowdsec
		reverse_proxy {$SABNZBD_IP}:{$SABNZBD_PORT:7777}
	}
}

# qBittorrent
qbittorrent.homelab.local {
	route {
		crowdsec
		reverse_proxy {$QBITTORRENT_IP}:{$QBITTORRENT_PORT}
	}
}

# Notifiarr
notifiarr.homelab.local {
	route {
		crowdsec
		reverse_proxy {$NOTIFIARR_IP}:{$NOTIFIARR_PORT}
	}
}

# PeaNUT
peanut.homelab.local {
	route {
		crowdsec
		reverse_proxy {$PEANUT_IP}:{$PEANUT_PORT:3000}
	}
}

# Homepage
homepage.homelab.local {
	route {
		crowdsec
		reverse_proxy {$HOMEPAGE_IP}:{$HOMEPAGE_PORT:3000}
	}
}

# Home Assistant
homeassistant.homelab.local {
	route {
		crowdsec
		reverse_proxy {$HOMEASSISTANT_IP}:{$HOMEASSISTANT_PORT:8123}
	}
}

# Karakeep
karakeep.homelab.local {
	route {
		crowdsec
		reverse_proxy {KARAKEEP_IP}:{$KARAKEEP_PORT}
	}
}

# Tandoor
tandoor.homelab.local {
	route {
		crowdsec
		reverse_proxy {$TANDOOR_IP}:{$TANDOOR_PORT}
	}
}

# Readarr
readarr.homelab.local {
	route {
		crowdsec
		reverse_proxy {$READARR_IP}:{$READARR_PORT:8787}
	}
}

# Calibre-Web
calibre-web.homelab.local {
	route {
		crowdsec
		reverse_proxy {$CALIBRE_WEB_IP}:{$CALIBRE_WEB_PORT:8083}
	}
}

# Jellyfin
jellyfin.homelab.local {$JELLYFIN_FQDN:jellyfin.homelab.local} {
	route {
		crowdsec
		reverse_proxy {$JELLYFIN_IP}:{$JELLYFIN_PORT:8096}
	}
}

# Prowlarr
prowlarr.homelab.local {
	route {
		crowdsec
		reverse_proxy {$PROWLARR_IP}:{$PROWLARR_PORT:9696}
	}
}

# Jellyseerr
jellyseerr.homelab.local {$JELLYSEERR_FQDN:jellyseerr.homelab.local} {
	route {
		crowdsec
		reverse_proxy {$JELLYSEERR_IP}:{$JELLYSEERR_PORT:5055}
	}
}

# Radarr
radarr.homelab.local {
	route {
		crowdsec
		reverse_proxy {$RADARR_IP}:{$RADARR_PORT:7878}
	}
}

# Sonarr
sonarr.homelab.local {
	route {
		crowdsec
		reverse_proxy {$SONARR_IP}:{$SONARR_PORT:8989}
	}
}

# Bazarr
bazarr.homelab.local {
	route {
		crowdsec
		reverse_proxy {$BAZARR_IP}:{$BAZARR_PORT:6767}
	}
}

# Lidarr
lidarr.homelab.local {
	route {
		crowdsec
		reverse_proxy {$LIDARR_IP}:{$LIDARR_PORT:8686}
	}
}

# Whisparr
whisparr.homelab.local {
	route {
		crowdsec
		reverse_proxy {$WHISPARR_IP}:{$WHISPARR_PORT}
	}
}

# Crafty Controller
crafty-controller.homelab.local {
	route {
		crowdsec
		reverse_proxy https://{$CRAFTYCONTROLLER_IP}:{$CRAFTYCONTROLLER_PORT:8443} {
			transport http {
				tls_insecure_skip_verify
			}
		}
	}
}

{$MC_CRAFTYCONTROLLER_FQDN:mc.tapshalkar.com} {
	route {
		crowdsec
		reverse_proxy https://{$CRAFTYCONTROLLER_IP}:{$MC_CRAFTYCONTROLLER_PORT:25565}
	}
}

# Jupyter Notebook
jupyter.homelab.local {
	route {
		crowdsec
	    redir / /lab
		reverse_proxy {$JUPYTERNOTEBOOK_IP}:{$JUPYTERNOTEBOOK_PORT:8888}
	}
}
