######################################
### Caddyfile for reverse proxying ###
######################################
{
	admin 0.0.0.0:{$CADDY_PORT:2019}
}

# TODO: Verify default ports

### Hardware ##########

# Internet gateway
gateway.homelab.local {
	reverse_proxy {$GATEWAY_IP}
}

# Wired router
router.homelab.local {
	reverse_proxy {$ROUTER_IP}
}

# Access point (Wi-Fi router)
wireless.homelab.local {
	reverse_proxy {$WIRELESS_IP}
}

# Server rack managed switch
switch.homelab.local {
	reverse_proxy {$SWITCH_IP}
}

### Servers ##########

# Unraid NAS
unraid.homelab.local {
	reverse_proxy {$UNRAID_IP}:{$UNRAID_PORT:443}

	# Alternatively: uncomment to use Unraid's built-in reverse proxy:
	# reverse_proxy {$UNRAID_HOSTNAME}
}

# Proxmox VE
pve.homelab.local {
	reverse_proxy {$PVE_IP}:{$PVE_PORT:8006}
}

# Netdata (Proxmox VE)
netdata.homelab.local {
	reverse_proxy {$NETDATA_IP}:{$NETDATA_PORT:19999}
}

### PVE LXCs ##########

# WireGuard Dashboard
wireguard.homelab.local {
	reverse_proxy {$WIREGUARD_IP}:{$WIREGUARD_PORT:10086}
}

# WireGuard VPN
vpn.homelab.local, {$WIREGUARD_FQDN:vpn.homelab.local} {
	reverse_proxy {$WIREGUARD_IP}:{$WIREGUARD_PORT:51820}
}

# Omada Controller
omada.homelab.local {
	reverse_proxy {$OMADA_IP}:{$OMADA_PORT:8043}
}

# Unbound DNS
unbound.homelab.local {
	reverse_proxy {$UNBOUND_IP}:{$UNBOUND_PORT}
}

# PiHole
pihole.homelab.local {
	reverse_proxy {$PIHOLE_IP}:{$PIHOLE_PORT:80}
}

## Caddy
caddy.homelab.local {
	reverse_proxy localhost:{$CADDY_PORT:2019}
	basic_auth {
		{$CADDY_API_USERNAME} {$CADDY_API_HASHED_PASSWORD}
	}
}

# SABnzbd
sabnzbd.homelab.local {
	reverse_proxy {$SABNZBD_IP}:{$SABNZBD_PORT:7777}
}

# qBittorrent
qbittorrent.homelab.local {
	reverse_proxy {$QBITTORRENT_IP}:{$QBITTORRENT_PORT}
}

# Notifiarr
notifiarr.homelab.local {
	reverse_proxy {$NOTIFIARR_IP}:{$NOTIFIARR_PORT}
}

# PeaNUT
peanut.homelab.local {
	reverse_proxy {$PEANUT_IP}:{$PEANUT_PORT}
}

# Homepage
homepage.homelab.local {
	reverse_proxy {$HOMEPAGE_IP}:{$HOMEPAGE_PORT}
}

# Home Assistant
homeassistant.homelab.local {
	reverse_proxy {$HOMEASSISTANT_IP}:{$HOMEASSISTANT_PORT:8123}
}

# Hoarder
hoarder.homelab.local {
	reverse_proxy {$HOARDER_IP}:{$HOARDER_PORT}
}

# Tandoor
tandoor.homelab.local {
	reverse_proxy {$TANDOOR_IP}:{$TANDOOR_PORT}
}

# Readarr
readarr.homelab.local {
	reverse_proxy {$READARR_IP}:{$READARR_PORT:8787}
}

# Calibre-Web
calibre-web.homelab.local {
	reverse_proxy {$CALIBRE_WEB_IP}:{$CALIBRE_WEB_PORT:8083}
}

# Jellyfin
jellyfin.homelab.local, {$JELLYFIN_FQDN:jellyfin.homelab.local} {
	reverse_proxy {$JELLYFIN_IP}:{$JELLYFIN_PORT:8096}
}

# Prowlarr
prowlarr.homelab.local {
	reverse_proxy {$PROWLARR_IP}:{$PROWLARR_PORT:9696}
}

# Jellyseerr
jellyseerr.homelab.local, {$JELLYSEERR_FQDN:jellyseerr.homelab.local} {
	reverse_proxy {$JELLYSEERR_IP}:{$JELLYSEERR_PORT:5055}
}

# Radarr
radarr.homelab.local {
	reverse_proxy {$RADARR_IP}:{$RADARR_PORT:7878}
}

# Sonarr
sonarr.homelab.local {
	reverse_proxy {$SONARR_IP}:{$SONARR_PORT:8989}
}

# Bazarr
bazarr.homelab.local {
	reverse_proxy {$BAZARR_IP}:{$BAZARR_PORT:6767}
}

# Lidarr
lidarr.homelab.local {
	reverse_proxy {$LIDARR_IP}:{$LIDARR_PORT:8686}
}

# Whisparr
whisparr.homelab.local {
	reverse_proxy {$WHISPARR_IP}:{$WHISPARR_PORT}
}
